* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(https://fonts.google.com/specimen/Outfit);

body {
    font-family: 'Outfit' sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.qr {
    max-width: 340px;
    background: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.0477);
    text-align: center;
}

.qr_img {
    width: 100%;
    border-radius: 20px;
    display: block;
}

.qr_text {
    padding: 24px 16px 16px;
} 

.qr_title {
    font-size: 25px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 16px;
    line-height: 1.3;
}

.qr_parag {
    font-size: 15px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    letter-spacing: 0.19px;
    line-height: 1.4;
    padding: 0 10px;
} 

@media (max-width: 375px) {
    .qr_title {
        font-size: 20px;
    }
    .qr_parag {
        font-size: 14px;
    }
}

/* DESKTOP ENHANCEMENTS */
@media (min-width: 1440px) {
    .qr {
        max-width: 360px;
        padding: 24px;
    }
    .qr_title {
        font-size: 24px;